<template name='s3list_all'>
  {{#if noConfig}}
  {{> noConfigWarning}}
  {{else}}
  {{#if isInRole 's3_admin'}}
  <button class='btn btn-xs btn-default s3-delete-selected-files'>Delete Selected</button>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th><input type='checkbox' class='s3-check-all-files'></th>
        <th>Name</th>
        <th class='text-right'>Uploaded</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      {{#if has_files}}
      <tr class='active'><td colspan=3 class='text-left'><strong>{{username}}</strong></td></tr>
      {{#if all_files}}
      {{#each all_files}}
        {{> s3_file_row}}
      {{/each}}
      {{else}}
      <tr><td colspan=3 class='text-center'>No Files</td></tr>
      {{/if}}
      {{/if}}
      {{/each}}
      {{#if unassigned_files}}
      <tr class='active'><td colspan=3 class='text-left'><strong>No User Assigned</strong></td></tr>
      {{/if}}
      {{#if orphaned_files}}
      <tr class='active'><td colspan=3 class='text-left'><strong>Orphaned Files</strong></td></tr>
      {{#each orphaned_files}}
        {{> s3_file_row}}
      {{/each}}
      {{/if}}
    </tbody>
  </table>
  {{/if}}
  {{/if}}
</template>

<template name='s3config'>
  {{#if noAdminUsers}}
    {{> s3config_no_users}}
  {{/if}}
  {{#if isInRole 's3_admin'}}
  {{#if noConfig}}
  <div class='s3alert well well-small'>
    <h3>S3 Global Configuration</h3>
    <p>
      No configuration exists for the S3 service in this application.
      In order to display an upload view you must have at a minimum a global configuration for Files.
    </p>
    <p>
      Please fill in the form below.
    </p>
    <form class='form-horizontal' role="form">
      {{> s3config_form}}
      <button id='S3ConfigSaveButton' type="submit" class="btn btn-default btn-block">Save</button>
    </form>
  </div>
  {{else}}
  <div class='s3alert well well-small'>
    <h3>S3 Global Configuration</h3>
    <p>
      The following S3 configuration is active for this applicaion.
    </p>
    {{#with config}}
    <form class='form-horizontal' role="form">
      {{> s3config_form}}
      <button id='S3ConfigSaveButton' type="submit" class="btn btn-default btn-block">Update</button>
    </form>
    {{/with}}
    {{#if config}}
    <br>
    <p>
      Right click the buttons below and choose "Save Link As" from the menu that pops up to save the configurations to a file that you can open and use later with your S3 configuration.
    </p>
    <div class='s3-config-example-buttons btn-group btn-group-justified'>
      <a id='CORSConfigurationButton' class='btn btn-default' target='_blank' download="cors_configuration.xml" href='/s3/cors_configuration.xml' title='Right Click and Save Link As'>CORS Configuration</a>
      <a id='BucketPolicyConfigurationButton' class='btn btn-default' download="bucket_policy_configuration.json" href='/s3/bucket_policy_configuration.json' title='Right Click and Save Link As'>Bucket Policy Configuration</a>
    </div>
    {{/if}}
  </div>

  {{/if}}
  {{else}}
  <button class='btn btn-default btn-block disabled'>The S3 application level service is configured.</button>
  {{/if}}
</template>

<template name='s3config_no_users'>
  <div class='s3alert well well-small'>
    <h3>S3 Users Configuration</h3>
    <p>
      No users have the s3_admin role.  Without a user with the s3_admin role you cannot
      administer the S3 service and see all the S3 files that have been uploaded to the applications S3 bucket.
    </p>
    <p>
      <strong>
      You will need to add at least one user to the s3_admin role in order to continue.
      </strong>
    </p>
    <p>
      Enter the name of the user you wish to have the s3_admin role in the box below. This package will check to see if the user exists.  If the user does not exist you will be prompted to create a user.
    </p>
    <br/>
    <div class='well'>
    <form class='form-horizontal' role="form">
      <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Username</label>
        <div class='col-sm-9'>
          <input type="text" class="form-control" name='username' id="Username" placeholder="user@example.com">
          {{#if user_exists}}
          <span class='glyphicon glyphicon-ok ok-user '></span>
          {{else}}
          <span class='glyphicon glyphicon-remove no-user'></span>
          {{/if}}
        </div>
      </div>
      {{#if user_exists}}
      <!-- User exists -->
      {{else}}
      <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class='col-sm-9'>
          <input type="password" class="form-control" name='password' id="Password">
        </div>
      </div>
      {{/if}}
      {{#if user_exists}}
      <button class='btn btn-default btn-block' id='AddS3AdminRole'>Add Role</button>
      {{else}}
      <button class='btn btn-default btn-block' id='CreateS3AdminUser'>Create User</button>
      {{/if}}
    </form>
  </div>
  </div>
</template>

<template name='s3config_admin_users'>
  {{#if isInRole 's3_admin'}}
  <div class='s3alert well well-small'>
    <h3>S3 User Administration</h3>
    <h4>Admin Users</h4>
    <p>
      The following users have been assigned the s3_admin role.
      These users have full control over the S3 bucket files and
      the global S3 configuration for this application.
    </p>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th class='text-right'>Add/Remove</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{username}}</td>
          <td class='text-right'>
            {{#if isS3Admin}}
            <button class='btn btn-xs btn-danger remove-s3-admin-role-button'>
              <span class='glyphicon glyphicon-remove'></span>
            </button>
            {{else}}
            <button class='btn btn-xs btn-success add-s3-admin-role-button'>
              <span class='glyphicon glyphicon-plus'></span>
            </button>
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{#if useUserRole}}
    <h4>Users</h4>
    <p>
      The following users have been assigned the s3_user role.  This
      role allows the user to use the S3 service.
    </p>
    {{#if users}}
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th class='text-right'>Add/Remove</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td>{{username}}</td>
          <td class='text-right'>
            {{#if isS3User}}
            <button class='btn btn-xs btn-danger remove-s3-user-role-button'>
              <span class='glyphicon glyphicon-remove'></span>
            </button>
            {{else}}
            <button class='btn btn-xs btn-success add-s3-user-role-button'>
              <span class='glyphicon glyphicon-plus'></span>
            </button>
            {{/if}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <p class='text-center'>
      <strong>No private S3 users.</strong>
    </p>
    {{/if}}
    {{/if}}
  </div>
  {{/if}}
</template>
