<template name='uploader'>
  <div class='uploader-controls'>

    {{#if filesSelected}}

      <!-- PROGRESS BAR -->
      <div class="progress progress-striped">
        <div class="progress-bar {{#if complete}}progress-bar-success{{/if}}" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
          <span>{{progress}}%</span>
        </div>
      </div>
      {{#if multipleQueue}}
        <span>Uploading {{currentlyUploading}} of {{queueSize}}</span>
      {{/if}}

    {{else}}

      <!-- UPLOAD BUTTON -->
      <input type="file" accept="{{settings.accept}}" multiple={{settings.multiple}} class='hidden file-upload'>
      {{#if UI.contentBlock}}
        {{> UI.contentBlock}}
      {{else}}
        <button type="button"
          class="btn btn-default btn-block file-upload-button">
          <span class="glyphicon glyphicon-cloud-upload fa fa-cloud-upload"></span>
          Upload
        </button>
      {{/if}}
    {{/if}}

  </div>
</template>
