<template name='uploader'>
  <div class='uploader-controls'>

    {{#if error}}
      <div class='alert alert-danger'>{{error}}</div>
    {{/if}}

    {{#if queueExists}}

    <!-- PROGRESS BAR -->
      <div class="progress progress-striped">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%">
          <span class="sr-only">{{progress}}% Complete</span>
        </div>
      </div>
      <span>Uploading {{currentlyUploading}} of {{queueSize}}</span>

    {{else}}

    <!-- UPLOAD BUTTON -->
      <input type="file" multiple={{settings.multiple}} class='hidden file-upload'>
      {{#if UI.contentBlock}}
        {{> UI.contentBlock}}
      {{else}}
        <button type="button"
          class="btn btn-default btn-block file-upload-button">
          <span class="glyphicon glyphicon-cloud-upload fa fa-cloud-upload"></span>
          Upload
        </button>
      {{/if}}
    {{/if}}

  </div>
</template>
